.main__BQLCd {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200 !important
}

.root__iqAmf {
    background-color: #fff;
    color: #222d38;
    display: block;
    outline: 0;
    overflow: hidden;
    text-decoration: none
}

.root__iqAmf.__withBorder__UBp0K {
    border: 1px solid #e9ecef
}

.__xsShadow__pLkH3 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .1)
}

.__smShadow__uL0zs {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05), 0 10px 15px -5px rgba(0, 0, 0, .05), 0 7px 7px -5px rgba(0, 0, 0, .04)
}

.__mdShadow__DPPiV {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05), 0 20px 25px -5px rgba(0, 0, 0, .05), 0 10px 10px -5px rgba(0, 0, 0, .04)
}

.__lgShadow__p2f96 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05), 0 28px 23px -7px rgba(0, 0, 0, .05), 0 12px 12px -7px rgba(0, 0, 0, .04)
}

.__xlShadow__tWVch {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05), 0 36px 28px -7px rgba(0, 0, 0, .05), 0 17px 17px -7px rgba(0, 0, 0, .04)
}

.__xsRadius__TQJUT {
    border-radius: 2px !important
}

.__smRadius__OXlDl {
    border-radius: 4px !important
}

.__mdRadius__eDUlL {
    border-radius: 8px !important
}

.__lgRadius__aAceq {
    border-radius: 16px !important
}

.__xlRadius__WNx8T {
    border-radius: 32px !important
}

.__xsPadding__cFyZ4 {
    padding: 10px
}

.__smPadding__I8MmB {
    padding: 12px
}

.__mdPadding__EetFU {
    padding: 16px
}

.__lgPadding__ZS3dz {
    padding: 20px
}

.__xlPadding__JJ5P8 {
    padding: 24px
}

.wrap__b29U2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 24px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: -26px
}

.wrap__b29U2 .copyright__Y_Awi {
    display: block
}

.wrap__b29U2 .copyright__Y_Awi a {
    align-items: center !important;
    color: #fff !important;
    display: flex !important;
    font-size: 12px !important;
    height: 100% !important;
    justify-content: center !important;
    width: 100% !important
}

.wrap__b29U2 .copyright__Y_Awi a jdiv {
    color: #fff !important
}

.wrap__b29U2 .logoIcon__jI4QF {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 15px !important;
    margin-left: .33em;
    width: 46px !important
}

.wrap__b29U2 .logoIcon__jI4QF.__ru__YFVl1 {
    background-size: 21px 14px;
    width: 26px !important
}

.android__R3L4G,
.ios__IbR3P {
    align-items: center;
    display: flex;
    min-height: 48px;
    padding: 0 16px
}

.android__R3L4G .title__lcE8Y,
.ios__IbR3P .title__lcE8Y {
    color: rgba(0, 0, 0, .87) !important;
    display: block;
    font-size: 16px;
    max-width: calc(100% - 38px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.desktop__BEKuM,
.tablet__ZbDiC {
    align-items: center;
    cursor: pointer;
    display: flex;
    min-height: 56px;
    padding: 4px 14px;
    position: relative
}

.desktop__BEKuM:hover,
.tablet__ZbDiC:hover {
    background-color: #ededed
}

.desktop__BEKuM .title__lcE8Y,
.tablet__ZbDiC .title__lcE8Y {
    color: rgba(0, 0, 0, .87) !important;
    cursor: pointer;
    display: block;
    font-size: 16px;
    max-width: calc(100% - 38px);
    text-decoration: none
}

.icon__ga9wh {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    display: block;
    height: 24px;
    margin-right: 14px;
    width: 24px
}

a.link__AeSxx {
    position: relative !important;
    text-decoration: none !important
}

.subTitle__yqi3B {
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    display: block;
    font-size: 12px
}

.item__PtJd5,
a.item__PtJd5 {
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important;
    display: block !important
}

.item__PtJd5:last-child,
a.item__PtJd5:last-child {
    border-bottom: none
}

.wrapper__XnU1q {
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 2147483646
}

@keyframes showMenu__tYCAS {
    0% {
        opacity: 0;
        transform: translateY(400px)
    }
    to {
        opacity: 1;
        transform: translate(0)
    }
}

.menuWrapper__qW1ci {
    display: block
}

.menuWrapper__qW1ci .menu__oEgiN {
    z-index: 201
}

.menuWrapper__qW1ci.android__vYVJG .menu__oEgiN {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0
}

.menuWrapper__qW1ci.ios__Ixa64 .menu__oEgiN {
    animation: showMenu__tYCAS .2s ease-in;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 1;
    padding: 0 8px 16px;
    position: fixed;
    right: 0;
    transform: translate(0)
}

.menuWrapper__qW1ci.ios__Ixa64 .menu__oEgiN.__show__WTiX7 {
    display: block
}

.menuWrapper__qW1ci.ios__Ixa64 .menu__oEgiN>:last-child {
    margin-top: 8px
}

.menuWrapper__qW1ci.desktop__TuVsY .menu__oEgiN,
.menuWrapper__qW1ci.tablet__PrwKP .menu__oEgiN {
    border-radius: 16px !important;
    display: block;
    overflow: hidden;
    transform: translateZ(0)
}

.menuTitle__K9Gjm {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .6);
    display: block;
    font-size: 12px;
    padding: 12px 16px;
    text-align: center
}

.android__EdUO9 {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 48px;
    padding: 4px 16px;
    position: relative
}

.android__EdUO9 .backIcon__ANuny {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 24px;
    margin-right: 14px;
    width: 24px
}

.android__EdUO9 .text__dEJNg {
    color: #314254;
    font-size: 16px
}

.ios__wMmPt {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 16px 0;
    position: relative
}

.ios__wMmPt .text__dEJNg {
    color: #0b82f7;
    font-size: 18px;
    font-weight: 500
}